* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Sora", sans-serif;

  /* title, label, paragraph and link */
  --title: 800 24px/32px var(--font-family);
  --label: 600 16px/20px var(--font-family);
  --paragraph: 500 16px/20px var(--font-family);
  --link: 500 14px/16px var(--font-family);



  /* color */
  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;

  /* content */
  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;
  --always-white: #FFFFFF;

  /* border */
  --border-primary: #D1D5DB;
  --border-hover: #B9C2D0;

}

body {
  background-color: #F4F5FB;

}